name: "[CI/CD] Deploy Static Site to S3"

on:
  # pull_request: | TODO: add testing/validation
  push:
    branches:
      - main

jobs:
  deploy:
    name: Sync to S3 static site
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1.6.1
      with:
        aws-region: ${{secrets.AWS_REGION}}
        role-to-assume: ${{ secrets.AWS_OIDC_RUNNER_ROLE }}
    - name: Sync to S3
      run: | # Sync index and security txt, exclude hidden files; Sync assets and remove any that aren't in source
        aws s3 sync . s3://pyscript.net/ --include ".well-known/security.txt" --include "index.html" --exclude ".*"
        aws s3 sync --delete assets/ s3://pyscript.net/assets/ 
