name: "[CI/CD] Deploy Static Site to S3"

on:
  # pull_request: | TODO: add testing/validation
  push:
    branches:
      - main
    pull_request:

jobs:
  deploy:
    name: Sync to S3 static site
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1.6.1
      with:
        aws-region: ${{secrets.AWS_REGION}}
        role-to-assume: ${{ secrets.AWS_OIDC_RUNNER_ROLE }}
    - name: Sync to S3
      if: github.ref == 'refs/heads/main' # Only sync static contents on merges into main branch
      run: aws s3 sync --delete . s3://pyscript-static/ --include ".well-known" --exclude ".*" # Exclude hidden files
